{% extends "base.html" %}
{% load heroicons %}

{% block title %}Gchurch | Membros{% endblock %}

{% block page_title %}Membros{% endblock %}

{% block content %}
<div class="flex items-center justify-between mb-6">
  <label class="input w-72">
    {% heroicon_outline "magnifying-glass" class="size-4 opacity-50" %}
    <input type="search" placeholder="Buscar membro..." />
  </label>
  <button class="btn btn-primary">{% heroicon_outline "plus" class="size-4" %} Novo Membro</button>
</div>
{% endblock %}
